
<div id="user-nav">
  <% if current_user %>
    Signed in as <%= current_user.name %>
    <%= link_to "Sign out", signout_path %>
  <% else %>
    <%= link_to "Sign in with Goodreads", "/auth/Goodreads" %>
  <% end %>
</div>
 <body class = "index"> </body> 

<div class = "grouplist"><h1><%= @user.name %>'s Groups </h1></div>

<div class = "groupl">
  <% if !@group_list.group.nil? %>
    <% @group_list.group.each do |g| %>
      <% @group_id = g.id %>                
      <h2><%= link_to g.title , group_path(@group_id), 'data-no-turbolink' => true %></h2>        
    <% end %>
  <% else %>
      <h3><a href= "https://www.goodreads.com/group", target='blank'>Join some reading groups!</a> </h3>
  <% end %>
</div>

