
<div id="user-nav">
  <% if current_user %>
    Signed in as <%= current_user.name %>
    <%= link_to "Sign out", signout_path %>
  <% else %>
    <%= link_to "Sign in with Goodreads", "/auth/Goodreads" %>
  <% end %>
</div>
 <body class = "index"> </body> 

<div class = "grouplist"><h1><%= @user.name %>'s Groups </h1></div>

<div class = "groupl">
  <% if !@group_list.group.nil? %>
    <% @group_list.group.each do |g| %>
      <% @group_id = g.id %>                
      <h2><%= link_to g.title , group_path(@group_id), 'data-no-turbolink' => true %></h2>        
    <% end %>
  <% else %>
    
  <div class="popup">
  <div class="wrapper1">

 <h2>To see what the app can do, you must belong to some groups (&#60 15 members for now) </h2><br>
    <%= button_to 'Join some reading groups', "https://www.goodreads.com/group", class: "push_button blue" , :method => :get , form: {target: '_blank'} %>
   </div>
</div>

  <% end %>
</div>

