<h1>Group#show</h1>
<p>Find me in app/views/group/show.html.erb</p>


<h1>Listing users</h1>


<% x = 0 %>
<%= @current_user.uid %><br>
<%= @fun %><br>
<% @name.each do |member| %>
  <% x += 1 %>
  <%= x %>:<%= member %><br>
  <%= @city[x-1] %><br>
<% end %> 
