

<h1>Listing users</h1>

<% z = "http://www.goodreads.com/message/new/#{@group[0]}" %>
<% x = 0 %>
<%= @current_user.uid %><br>
<%= @fun %><br>
<% @name.each do |member| %>
  <% x += 1 %>
  <%= x %>:<%= member %><br>
  <%= @city[x-1] %><br>
<% end %> 

<!-- google maps link: https://github.com/apneadiving/Google-Maps-for-Rails -->

<script type="text/javascript">
    function initialize() {
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers([
          <% x = 0 %>
     
          <% @name.each do |member| %>
             <% y = "http://www.goodreads.com/message/new/#{@id[x]}" %>
            {
              "lat": "<%= @city[x][0] %>",
              "lng": "<%= @city[x][1] %>",
              "infowindow": "<%= member %> <a href='<%= y %>', target='blank'>Message User</a> "
            },
<<<<<<< HEAD
            <% x += 1 %>
=======
            <%  x += 1 %>
>>>>>>> 5f1c226cff2d311921614de9f65965067e080779
          <% end %>
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(2);
      });
    }

    google.maps.event.addDomListener(window, "load", initialize);
  </script>
<<<<<<< HEAD
<div id="map" style="width:580px; height:347px">
   <%= stylesheet_link_tag 'gmaps4rails_welcome' %>
   
</div>
=======
<div style='width: 900px;'>
  <div id="map" style='width: 900px; height: 400px;'></div>
</div>




>>>>>>> 5f1c226cff2d311921614de9f65965067e080779
